build/
fastPTA.egg-info/
fastPTA/__pycache__/
examples/__pycache__/
examples/plots/
examples/generated_data/
examples/generated_chains/
tests/__pycache__/
tests/test_data/test_catalog2.txt
pulsar_configurations/
.vscode/